.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.Countries {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #8d8484;
  padding: 8px;
}

th {
  background-color: #dbbbbb;
}
